<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<title>Desafio NYC | Carlos Teodoro</title>

	<link href=" {{ url_for('static', filename='css/app.css') }} " rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="index.html">
          <span class="align-middle">Desafio Raízen</span>
        </a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Pages
					</li>

					<li class="sidebar-item active">
						<a class="sidebar-link" href="index.html">
              <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Modelo NYC</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="pages-profile.html">
              <i class="align-middle" data-feather="user"></i> <span class="align-middle">Currículo</span>
            </a>
					</li>





					<li class="sidebar-item">
						<a class="sidebar-link" href="https://www.monografias.ufop.br/bitstream/35400000/3555/6/MONOGRAFIA_SimmulatedAnnealingAlgoritmos.pdf">
              <i class="align-middle" data-feather="book"></i> <span class="align-middle">Monografia</span>
            </a>
					</li>


				</ul>

				<div class="sidebar-cta">
					<div class="sidebar-cta-content">
						<strong class="d-inline-block mb-2">Contato</strong>
						<div class="mb-3 text-sm">
							c.teodoro2@gmail.com<br />
							31 9 9903 5479
						</div>
						
					</div>
				</div>
			</div>
		</nav>

		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle d-flex">
          	<i class="hamburger align-self-center"></i>
        </a>
		<a class="nav-link d-none d-sm-inline-block" href="#" data-toggle="dropdown">
		 <span class="text-dark">Carlos Antônio Felício Teodoro</span>
		</a>
			</nav>

			<main class="content">
				
				
				<div class="container-fluid p-0">

					
					
					<h1 class="h3 mb-3">Modelo Preditivo NYC Metro</h1>

					<form method="get" action="{{url_for('index')}}">
						<button class="btn btn-primary">Nova Análise</button> <br /><br />
					</form>

					

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0"></h5>

									<img align="left" width="100%" src="data:image/jpeg;base64,{{ p_chart_html }}"> 
									
								</div>
								<div class="card-body">
								</div>
							</div>

							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0"></h5>

									<img align="left" width="100%" src="data:image/jpeg;base64,{{ p_chart_d_html }}"> 
									
								</div>
								<div class="card-body">
								</div>
							</div>


						</div>
					</div>

				</div>
			</main>

			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">


					</div>
				</div>
			</footer>
		</div>
	</div>

	<script src=" {{ url_for('static', filename='js/app.js') }} "></script>


</body>

</html>